<div class="title">
  <h1>Chore Wheel</h1>
</div>

<div class="main">

  <div class="wheel">
    <ul>
      <div class="category">
        <span class="lists">
          <h2 class="sub-title">Housemates</h2>
        </span>
        <span class="lists">
          <h2 class="sub-title">Chores</h2>
        </span>
      </div>
      <div id="main-list">
        <% unless @users.empty? || @users.nil? %>
          <% @users.each do |user| %>
            <li>
              <span class="lists callout"><%= user.name %></span>
              <% if user.chores.first %>
                <span class="lists callout"><%= user.chores.first.name %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </div>

    </ul>
  </div>

  <div class="cycle">
    <i class="fa fa-refresh fa-2x" aria-hidden="true" id="cycle-button"></i>
  </div>

  <form class="form" action="index.html" method="post">
    <label for="name"></label>
    <input type="text" name="name" placeholder="housemate name" id="name">

    <label for="phone"></label>
    <input type="text" name="phone" placeholder="phone number" id="phone">

    <label for="chore"></label>
    <input type="text" name="chore" placeholder="chore name" id="chore">

    <input type="submit" name="submit" id="submit">
  </form>

</div>
