<div class="main">

  <h1 class="title">Add Chore:</h1>

  <div class ="form">

    <form class="add" action="/chores" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name">
      <label for="description" placeholder:"617-555-5155">Description:</label>
      <input type="text" name="description">

      <input type="submit" name="submit">
    </form>

  </div>

  <a href="/index"><button type="button" name="button" class="add-button">Back</button></a>

</div>
