<div class="main">

  <h1 class="title">Add User:</h1>

  <div class ="form">

    <form class="add" action="/users" method="post">
      <label for="housemate">Housemate:</label>
      <input type="text" name="housemate">
      <label for="phone" placeholder:"617-555-5155">Phone number:</label>
      <input type="text" name="phone">

      <input type="submit" name="submit">
    </form>

  </div>

  <a href="/index"><button type="button" name="button" class="add-button">Back</button></a>

</div>
